.All_navigation {
  overflow: hidden;
  background-color: transparent;
  font-family: Arial;
  border: color 10px white;
  border-radius: 10px;
}


.All_navigation a {
  float: right;
  display: block;
  width: fit-content;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 1px solid wheat;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin: 6px;
  padding: 4px;
}

.All_navigation a span{
  position: relative;
  z-index: 2;
}

.All_navigation a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(194, 0, 194);
  transition: all .35s;
}

.All_navigation a:hover{
  color: #fff;
}

.All_navigation a:hover:after{
  width: 100%;
}

.nav_container {
  float: right;
  overflow: hidden;
}


.nav_container .nav_button {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 30px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 

}



.quiz-content {
  display: none;
  position:absolute;
  background-color: white;
  background-position: 10px;
  max-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0% 0% 10% 10%;
  border-left: 10px black;
}


.quiz-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-position: 10px;  
}


.quiz-content a:hover {
  background-color: darkgrey;
}


.nav_container:hover .quiz-content {
  display: block;
}

.kawizz_purple{
  width: 15%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 25px;
  margin-bottom: 25px;
}