  /*Done by Tan Tianxu Jaden*/
body {
    background-image: url(../Images/background_quiz.jpg);
  }

.kawizz_login{
  margin-top: 20px;
  width: 20%;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.box_login{
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
}
  /*Done by Tan Tianxu Jaden*/