body{
    text-align: center;
    background-color: rgba(238, 238, 238, 0.963);
    font-size: 150%;
}

.form_container{
    border-style: outset;
    background-color: white;
    align-items: center;
    padding: 50px;
    margin-left:200px;
    margin-right: 200px;
    border:2px;
    border-color: black;
    border-style: outset;
    border-radius: 10px;
    font-size: 100%;
}

