  /*Done by Tan Tianxu Jaden*/
.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container .quiz {
    background-color: white;
    width: 50%;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
  }

.a:focus{
  outline: none;
  text-decoration: none;
}

.overlay {
  position: absolute;
  opacity: 0;
  transition:all .3s ease;
}

.overlayOne{
  height: 100%;
  width:0;
  top:0;
  left:0;
}

.history_button {
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  border-radius: 7px;
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: blue;
  font-size: 75%;
  font-weight: bold;
  margin-bottom: 25px;
}

.geometry_button {
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  border-radius: 7px;
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: blue;
  font-size: 75%;
  font-weight: bold;
  margin-bottom: 25px;
}

.geography_button {
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  border-radius: 7px;
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: blue;
  font-size: 75%;
  font-weight: bold;
  margin-bottom: 25px;
}

.ck_button {
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  border-radius: 7px;
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: blue;
  font-size: 75%;
  font-weight: bold;
  margin-bottom: 25px;
}

.quiz_container {
  position: relative;
  text-align: center;
  height: 100%;
}

.text_container
{
  background-color:white;
  width: 75%;
  height: 75%;
  margin: 50px;
  margin-left: -0.0025%;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
  position: absolute;
  bottom: 18px;
  left: 16px;
  border-radius: 10px;
}

.text 
{
  font-size:65%;
  margin:100px;
  margin-bottom:60%;
}
.header{
  font-size:65%;
  margin-top: 50px;
  margin-bottom: -10%;
  font-weight: bold;
}
.marginquiz
{
  margin-left: 50px;
  margin-right:50px;
}

.discount{
  color:green;
}
  /*Done by Tan Tianxu Jaden*/